
venv/
__pycache__/
**/__pycache__/
*.pyc

.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# models/runs/ supprimé pour versionner les modèles générés
reports/alerts_*.csv
reports/*_latest.csv
reports/*.png

.env
*.log
